body
{
	background-image: url(../image/8.jpg);
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1
   {
    font-size: 100px;
    color: white;
    background-color: black;
   }

h2 
{
	color: white;
	background-color: black;
}
